body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header h2 {
    font-size: 300%;
    text-shadow: 2px 2px 10px steelblue;
    color:steelblue;
}

h3 {
    font-size: 150%;
}

section a:link, section a:visited {
    color:maroon;
}

section a:active, section a:hover {
    color:steelblue;
}

aside a:link, aside a:visited {
    color:steelblue;
}

aside a:active, aside a:hover {
    color:maroon;
}

#logoImage {
    float: left;
    margin-right:15px;
}